* body {
    margin: 0;
    font-family: 'Cagliostro', sans-serif;
    background: black;
}

html {
    scroll-behavior: smooth;
}

.fondoindex {
    background-image: url(../img/ellos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fondoindex:hover {
    background-image: url(../img/WhatsApp\ Image\ 2019-02-11\ at\ 23.50.43.jpeg);
    background-size: 50%;
    background-position: center center;
    background-attachment: fixed;
}

.titulo1 {
    width: 100%;
    font-family: 'Notable', sans-serif;
    margin: auto;
    color: red;
    margin-bottom: 35%;
    font-size: 175px;
    text-align: center;
}

.flash {
    animation-name: flash;
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 1s;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    word-spacing: 25px;
    margin: auto;
    padding: 0;
    text-align: center;
    background: black;
    z-index: 999666;
}

nav:hover {
    background: rgba(49, 47, 47, 0.753);
}

nav ul li {
    display: inline-block;
    width: 20%;
    margin: auto;
}

#mobile {
    display: none;
    background: rgba(0, 0, 0, 0.438);
    border: none;
    color: white;
    font-size: 10px;
}

.menudoors {
    padding-left: 0;
}

.menudoors .limenu:hover .submenu {
    display: block;
}

.menudoors li {
    padding: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul li {
    list-style: none;
    display: inline-block;
}

.limenu {
    position: relative;
    word-spacing: 1px;
}

.limenu .a {
    color: black;
}

.submenu {
    width: 100%;
    margin-top: 0px;
    position: absolute;
    top: 20px;
    left: 0;
    margin: auto;
    padding: 0;
    display: none;
}

.submenu li {
    display: block;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.562);
    padding: 5%;
    margin: auto;
}

.fondofooter {
    padding-top: 20%;
    background-image: url(../img/jmorrisonfoo_edited.jpg);
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
}

label,
input,
textarea,
select {
    width: 100%;
    margin: auto;
    color: rgba(255, 0, 0, 0.548);
    font-family: 'Cagliostro', sans-serif;
}

input,
textarea,
select {
    background-color: rgba(255, 0, 0, 0.342);
    border: 0;
}

form {
    width: 30%;
    margin-left: 20%;
    margin-bottom: 0;
}

form h1 {
    text-align: center;
    color: rgba(255, 0, 0, 0.548);
}

.boton {
    width: 30%;
    margin-left: 35%;
}

.etiqueta {
    text-align: center;
    font-size: 10px;
    margin: 0;
    padding: 0%;
}

.contacto {
    background: rgb(255, 255, 255);
    padding-bottom: 1%;
    text-align: center;
}

.contactointegrantes {
    padding-bottom: 1%;
    text-align: center;
    color: white;
}

.icono {
    width: 3%;
    height: 3%;
    padding-top: 1%;
    padding-right: 1%;
    margin: auto;
}

.fondohistoria {
    background-image: url(../img/nube.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo2 {
    width: 100%;
    margin: auto;
    margin-top: 5%;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 100px;
    text-align: right;
}

.headerhistoria {
    width: 100%;
    text-align: right;
    margin: auto;
    list-style: none;
    padding: 0;
    position: relative;
}

.headerhistoria .overlay {
    position: absolute;
    top: 350px;
    left: 50;
    opacity: 0;
    transition: ease all 0.2s;
}

.headerhistoria:hover .overlay {
    opacity: 1;
}

.ajustesubtitulo {
    width: 100%;
    margin: auto;
    font-size: 40px;
}

.p {
    width: 75%;
    margin: auto;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: justify;
}

.ajusteimg {
    width: 100%;
    margin: auto;
}

.fondointegrantes {
    background-image: url(../img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo3 {
    width: 100%;
    margin-top: 5%;
    font-size: 100px;
    color: brown;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: right;
}

.columnas img {
    width: 50%;
    height: 50%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.columnas p {
    padding-right: 5%;
    padding-left: 5%
}

.columnas h2 {
    text-align: left;
    padding-right: 5%;
    padding-left: 5%;
}

.columna1 {
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 0;
    background: rgba(0, 0, 0, 0.425);
    float: left;
    text-align: justify;
    font-size: 20px;
    color: wheat;
}

.columna2 {
    width: 50%;
    margin: auto;
    padding: 0;
    background: rgba(0, 0, 0, 0.425);
    float: left;
    text-align: justify;
    font-size: 20px;
    color: wheat;
}

.columna3 {
    width: 50%;
    margin: auto;
    padding: 0;
    background: rgba(0, 0, 0, 0.342);
    float: left;
    text-align: justify;
    font-size: 20px;
    color: wheat;
}

.columna4 {
    width: 50%;
    margin: auto;
    padding: 0;
    background: rgba(0, 0, 0, 0.425);
    float: left;
    text-align: justify;
    font-size: 20px;
    color: wheat;
}

.fondodiscografia {
    background-image: url(../img/vitrola.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.carousel {
    width: 40%;
    margin: auto;
}

.container {
    padding: 5%;
}

table {
    width: 40%;
    margin: auto;
    text-align: center;
    letter-spacing: 7px;
    background-image: url(../img/kkkk44444.jpg);
    background-size: 100%;
}

table td {
    background-color: rgba(255, 255, 255, 0.308);
}

.infotecnica {
    background-color: rgba(255, 253, 253, 0.123);
}

.infotecnica p {
    width: 70%;
    margin: auto;
    font-size: 20px;
    text-align: center;
}

.fondosumusica {
    background-image: url(../img/retro.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.totalsection {
    width: 100%;
    margin: auto;
    text-align: center;
}

ol {
    text-align: center;
    list-style-position: inside;
}

@media only screen and (max-width:480px) {
    body {
        background: black;
        margin: 0;
    }
    .titulo1 {
        width: 100%;
        margin: auto;
        margin-top: 5%;
        font-size: 40px;
        margin-bottom: 95%;
        text-align: center;
    }
    nav {
        width: 100%;
        margin: auto;
        position: fixed;
        padding: 2%;
        text-align: center;
        word-spacing: 0;
    }
    .menudoors {
        width: 100%;
        margin: auto;
        padding-left: 0;
        font-size: 5px;
    }
    .fondoindex {
        background-position-y: 15%;
        background-image: url(../img/WhatsApp\ Image\ 2019-02-11\ at\ 23.50.43.jpeg);
        background-position: center initial center;
        background-size: contain;
    }
    .fondoindex:hover {
        background-image: url(../img/negro.jpg);
        background-position: center initial center;
        background-size: cover;
    }
    .fondofooter {
        padding-top: 5%;
        font-size: 10px;
        background: linear-gradient(black, grey, white);
        width: 100%;
        margin: auto;
    }
    form {
        width: 70%;
        margin: auto;
    }
    .boton {
        width: 50%;
        margin-left: 25%;
    }
    form h1 {
        font-size: 15px;
    }
    .etiqueta {
        font-size: 5px;
    }
    .fondohistoria {
        background-size: cover;
    }
    .p {
        font-size: 10px;
        padding: 10px;
    }
    .titulo2 {
        width: 100%;
        margin: auto;
        margin-top: 10%;
        font-size: 20px;
        text-align: right;
    }
    .ajustesubtitulo {
        font-size: 10px;
    }
    .headerhistoria .overlay {
        position: absolute;
        top: 35%;
        left: 0;
        opacity: 0;
        transition: ease all 0.2s;
    }
    .headerhistoria:hover .overlay {
        opacity: 1;
    }
    .fondointegrantes {
        background-size: cover;
    }
    .titulo3 {
        width: 100%;
        margin: auto;
        margin-top: 10%;
        font-size: 20px;
        text-align: right;
    }
    .columnas img {
        width: 90%;
        height: 90%;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    .columnas p {
        padding-right: 5%;
        padding-left: 5%
    }
    .columnas h2 {
        text-align: left;
        padding-right: 5%;
        padding-left: 5%;
        font-size: 10px;
    }
    .columna1 {
        width: 100%;
        margin: auto;
        padding: 0;
        text-align: justify;
        font-size: 10px;
    }
    .columna2 {
        width: 100%;
        margin: auto;
        padding: 0;
        text-align: justify;
        font-size: 10px;
    }
    .columna3 {
        width: 100%;
        margin: auto;
        padding: 0;
        text-align: justify;
        font-size: 10px;
    }
    .columna4 {
        width: 100%;
        margin: auto;
        padding: 0;
        text-align: justify;
        font-size: 10px;
    }
    .fondodiscografia {
        background-image: url(../img/vitrola.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    table {
        font-size: 10px;
        width: 80%;
        margin: auto;
        letter-spacing: 1px;
        background-image: url(../img/kkkk44444.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .infotecnica p {
        width: 80%;
        margin: auto;
        font-size: 10px;
        text-align: center;
    }
    .carousel {
        width: 80%;
        margin: auto;
    }
    .fondosumusica {
        background-image: url(../img/retro.jpg);
        background-size: 100%;
        background-size: cover;
    }
    .totalsection {
        width: 80%;
        margin: auto;
        font-size: 10px;
        text-align: center;
    }
    .totalsection h2 {
        font-size: 10px;
    }
    .totalsection h3 {
        font-size: 10px;
    }
    video {
        width: 80%;
        height: 80%;
    }
    audio {
        width: 80%;
    }
    ol {
        padding: 0;
    }
    .contacto {
        width: 100%;
        margin: auto;
        background-size: contain;
    }
    .icono {
        width: 5%;
        height: 5%;
        padding-top: 1%;
        padding-right: 1%;
        margin: auto;
    }
}

@media only screen and (min-width:481px) and (max-width:1024px) {
    body {
        background: black;
        margin: 0;
    }
    .titulo1 {
        width: 100%;
        margin: auto;
        margin-top: 5%;
        font-size: 95px;
        margin-bottom: 95%;
        text-align: center;
    }
    nav {
        width: 100%;
        margin: auto;
        position: fixed;
        padding: 2%;
        text-align: center;
        word-spacing: 0;
    }
    .menudoors {
        width: 100%;
        margin: auto;
        padding-left: 0;
        font-size: 10px;
    }
    .fondoindex {
        background-position-y: 15%;
        background-image: url(../img/WhatsApp\ Image\ 2019-02-11\ at\ 23.50.43.jpeg);
        background-position: center;
        background-size: contain;
    }
    .fondoindex:hover {
        background-image: url(../img/negro.jpg);
        background-position: center;
        background-size: cover;
    }
    .fondofooter {
        padding-top: 5%;
        font-size: 10px;
        background: linear-gradient(black, grey, white);
        width: 100%;
        margin: auto;
    }
    input,
    textarea,
    select,
    label {
        color: black;
        font-size: 15px;
    }
    form {
        width: 50%;
        margin: auto;
    }
    .boton {
        width: 50%;
        margin-left: 25%;
    }
    form h1 {
        font-size: 15px;
    }
    .etiqueta {
        font-size: 10px;
    }
    .fondohistoria {
        background-size: cover;
    }
    .p {
        font-size: 15px;
        padding: 10px;
    }
    .titulo2 {
        width: 100%;
        margin: auto;
        margin-top: 10%;
        font-size: 50px;
        text-align: right;
    }
    .ajustesubtitulo {
        font-size: 20px;
    }
    .headerhistoria .overlay {
        position: absolute;
        top: 35%;
        left: 0;
        opacity: 0;
        transition: ease all 0.2s;
    }
    .headerhistoria:hover .overlay {
        opacity: 1;
    }
    .fondointegrantes {
        background-size: cover;
    }
    .titulo3 {
        width: 100%;
        margin: auto;
        margin-top: 10%;
        font-size: 50px;
        text-align: right;
    }
    .columnas img {
        width: 50%;
        height: 50%;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    .columnas p {
        padding-right: 5%;
        padding-left: 5%
    }
    .columnas h2 {
        text-align: left;
        padding-right: 5%;
        padding-left: 5%;
        font-size: 15px;
    }
    .columna1 {
        width: 100%;
        margin: auto;
        padding: 0;
        text-align: justify;
        font-size: 15px;
    }
    .columna2 {
        width: 100%;
        margin: auto;
        padding: 0;
        text-align: justify;
        font-size: 15px;
    }
    .columna3 {
        width: 100%;
        margin: auto;
        padding: 0;
        text-align: justify;
        font-size: 15px;
    }
    .columna4 {
        width: 100%;
        margin: auto;
        padding: 0;
        text-align: justify;
        font-size: 15px;
    }
    .fondodiscografia {
        background-image: url(../img/vitrola.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    table {
        font-size: 15px;
        width: 50%;
        margin: auto;
        letter-spacing: 1px;
        background-image: url(../img/kkkk44444.jpg);
        background-size: cover;
        /*background: rgba(16, 182, 146, 0.267);*/
    }
    .infotecnica p {
        width: 80%;
        margin: auto;
        font-size: 15px;
        text-align: center;
    }
    .carousel {
        width: 80%;
        margin: auto;
    }
    .fondosumusica {
        background-image: url(../img/retro.jpg);
        background-size: 100%;
        background-size: cover;
    }
    .totalsection {
        width: 80%;
        margin: auto;
        font-size: 15px;
        text-align: center;
    }
    .totalsection h2 {
        font-size: 15px;
    }
    .totalsection h3 {
        font-size: 15px;
    }
    video {
        width: 80%;
        height: 80%;
    }
    audio {
        width: 80%;
    }
    ol {
        padding: 0;
    }
    .contacto {
        width: 100%;
        margin: auto;
        background-size: contain;
    }
    .icono {
        width: 5%;
        height: 5%;
        padding-top: 1%;
        padding-right: 1%;
        margin: auto;
    }
}

@media (max-width:600px) {
    .menudoors {
        display: none;
    }
    #mobile {
        display: block;
    }
}