* body {
    margin: 0;
    font-family: 'Cagliostro', sans-serif;
    background: black;
}

.fondoindex {
    height: 900px;
    background-image: url(../img/ellos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fondoindex:hover {
    background-image: url(../img/WhatsApp\ Image\ 2019-02-11\ at\ 23.50.43.jpeg);
    background-size: 50%;
    background-position: center center;
    background-attachment: fixed;
}

.titulo1 {
    font-family: 'Notable', sans-serif;
    margin: 0;
    color: red;
    margin-bottom: 35%;
    font-size: 175px;
}

.flash {
    animation-name: flash;
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 1s;
}

.menudoors .limenu:hover .submenu {
    display: block;
}

.menudoors li {
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    word-spacing: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    background: black;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    width: 20%;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul li {
    list-style: none;
    display: inline-block;
}

.limenu {
    position: relative;
    word-spacing: 1px;
}

.limenu .a {
    color: black;
}

.submenu {
    width: 100%;
    margin-top: 0px;
    position: absolute;
    top: 20px;
    left: 0;
    margin: auto;
    padding: 0;
    display: none;
}

.submenu li {
    display: block;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.562);
    padding: 0;
    margin: 0;
    height: 40px;
    z-index: 9999999;
}

footer {
    background: linear-gradient(dimgray, white);
}

#contacto {
    font-size: 16px;
    background-color: dimgray;
    border: black;
    text-align: center;
    margin-top: 0 !important;
}

input,
textarea,
select {
    width: 100%;
}

.formulario {
    width: 30%;
    margin: auto;
}

.fondohistoria {
    background-image: url(../img/nube.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 100px;
    text-align: right;
}

.ajustesubtitulo {
    font-size: 40px;
}

.headerhistoria {
    text-align: right;
    margin: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.headerhistoria .overlay {
    position: absolute;
    top: 350px;
    left: 50;
    opacity: 0;
    transition: ease all 0.2s;
}

.headerhistoria:hover .overlay {
    opacity: 1;
}

.p {
    line-height: 18px;
    letter-spacing: 1spx;
    text-align: justify;
    margin: 0%;
    padding: 10px;
}

.ajusteimg {
    width: 100%;
}

.fondointegrantes {
    background-image: url(../img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo3 {
    font-size: 100px;
    color: brown;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: right;
}

.columna1 {
    background: rgba(0, 0, 0, 0.315);
    padding: 20px;
    width: 47%;
    float: left;
    text-align: justify;
    font-size: 20px;
    color: wheat;
}

.columna2 {
    background: rgba(24, 21, 21, 0.11);
    padding: 20px;
    width: 47%;
    float: left;
    text-align: justify;
    font-size: 20px;
    color: wheat;
}

.fondodiscografia {
    background-image: url(../img/vitrola.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*.flex {
    width: 100%;
    height: 500px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: row;
    justify-content: stretch;
}

.info {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;


.info img {
    width: 35%;
    height: 35%;
}

.info .overlay {
    position: absolute;
    top: 100px;
    left: 100;
    opacity: 0;
    transition: ease all 0.2s;
    background-color: rgb(165, 136, 42);
}

.info:hover .overlay {
    opacity: 1;
}

.tapa {
    width: 550px;
    height: 550px;
}

#thedoors {
    background-image: url(../img/302.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#thedoors:hover {
    background-image: url(../img/the_doors_the_doors_b.jpg);
    background-size: contain;
}

#tapa1 {
    background-image: url(../img/tapa1.jpg);
    background-repeat: no-repeat;
    background-attachment: center center;
    background-size: cover;
}

#tapa1:hover {
    background-image: url(../img/81M2sXEPv0L._SL1200_.jpg);
    background-size: contain;
}

#tapa2 {
    background-image: url(../img/F15.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#tapa2:hover {
    background-image: url(../img/wfts.jpg);
    background-size: contain;
}

#tapa3 {
    background-image: url(../img/C41.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#tapa3:hover {
    background-image: url(../img/una.jpg);
    background-size: contain;
}

#tapa4 {
    background-image: url(../img/tapa2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#tapa4:hover {
    background-image: url(../img/The_Doors-Morrison_Hotel-Trasera.jpg);
    background-size: contain;
}

#tapa5 {
    background-image: url(../img/2FB.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#tapa5:hover {
    background-image: url(../img/The_Doors-L.A._Woman-Trasera.jpg);
    background-size: contain;
}

#tapa6 {
    background-image: url(../img/tapa3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#tapa6:hover {
    background-image: url(../img/the-doors-other-voices-ab.jpg);
    background-size: contain;
}

#tapa7 {
    background-image: url(../img/f1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#tapa7:hover {
    background-image: url(../img/f2.jpg);
    background-size: contain;
}

#tapa8 {
    background-image: url(../img/429163fae1964b85af32bbb56058f7b7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#tapa8:hover {
    background-image: url(../img/Jim_Morrison-Music_By_The_Doors_An_American_Prayer-Trasera.jpg);
    background-size: contain;
}*/
.carousel {
    width: 600px;
    margin: auto;
}
table {
    margin: 0 auto;
    width: 40%;
    letter-spacing: 7px;
    background-color: rgba(127, 255, 212, 0.479);
    text-align: center;
}

.infotecnica ul {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

.fondosumusica {
    background-image: url(../img/retro.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.totalsection {
    text-align: center;
}

ol {
    list-style-position: inside;
}

@media only screen and (max-width:480px) {
    body {
        background: black;
    }
    .titulo1 {
        margin-top: 15px;
        margin-bottom: 90%;
        font-size: 46px;
    }
    nav {
        font-size: 10px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        word-spacing: 5px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .menudoors {
        padding: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .fondoindex {
        background-image: url(../img/WhatsApp\ Image\ 2019-02-11\ at\ 23.50.43.jpeg);
        background-position: center initial center;
        background-size: contain;
    }
    .fondoindex:hover {
        background-image: url(../img/negro.jpg);
        background-position: center initial center;
        background-size: cover;
    }
    .formulario {
        margin-top: 10%;
        width: 50%;
        margin: auto;
        font-size: 10px;
    }
    #contacto {
        font-size: 10px;
    }
    .fondohistoria {
        background-size: cover;
    }
    .p {
        padding: 10px;
    }
    .titulo2 {
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 40px;
        text-align: right;
    }
    .ajustesubtitulo {
        font-size: 20px;
    }
    .headerhistoria .overlay {
        position: absolute;
        top: 10px;
        left: 0;
        opacity: 0;
        transition: ease all 0.2s;
    }
    .headerhistoria:hover .overlay {
        opacity: 1;
    }
    .fondointegrantes {
        background-size: cover;
    }
    .titulo3 {
        font-size: 40px;
        margin-top: 10%;
        margin-bottom: 0;
    }
    .columna1 {
        width: 90%;
        font-size: 15px;
    }
    .columna2 {
        width: 90%;
        font-size: 15px;
    }
    .fondodiscografia {
        background-size: cover;
    }
    .flex {
        width: 100%;
        padding-bottom: 1500px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }
    .tapa {
        width: 200px;
        height: 200px;
    }
    .info .overlay {
        font-size: 10px;
    }
    table {
        padding: 0%;
        text-align: center;
        font-size: 15px;
    }
    table td {
        font-size: 10px;
        word-spacing: 1px;
    }
    .infotecnica ul {
        padding: 0%;
        font-size: 15px;
        text-align: center;
    }
    .carousel {
        width: 200px;
        margin: auto;
    }
    .fondosumusica {
        background-image: url(../img/retro.jpg);
        background-size: cover;
    }
    .totalsection {
        font-size: 15px;
        text-align: center;
    }
    .totalsection h2 {
        font-size: 20px;
    }
    .totalsection h3 {
        font-size: 15px;
    }
    video {
        width: 70%;
        height: 70%;
    }
    audio {
        width: 60%;
    }
    ol {
        padding: 0;
    }
}

@media only screen and (min-width:481px) and (max-width:1023sspx) {
    body {
        background: black;
    }
    .titulo1 {
        margin-top: 60px;
        margin-bottom: 75%;
        font-size: 98px;
    }
    nav {
        font-size: 15px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        word-spacing: 6px;
        margin: 0;
        padding: 10px;
        text-align: center;
    }
    .menudoors {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .fondoindex {
        background-image: url(../img/WhatsApp\ Image\ 2019-02-11\ at\ 23.50.43.jpeg);
        background-position: center initial center;
        background-size: contain;
    }
    .fondoindex:hover {
        background-image: url(../img/negro.jpg);
        background-position: center initial center;
        background-size: cover;
    }
    .formulario {
        margin-top: 10%;
        width: 50%;
        margin: auto;
        font-size: 15px;
        margin-bottom: 100px;
    }
    footer {
        margin-bottom: 100px;
    }
    #contacto {
        font-size: 10px;
    }
    .fondohistoria {
        background-size: cover;
    }
    .p {
        padding: 10px;
    }
    .titulo2 {
        margin-top: 95%;
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 40px;
        text-align: right;
    }
    .ajustesubtitulo {
        font-size: 20px;
    }
    .headerhistoria img {
        margin-top: 5%;
    }
    .headerhistoria .overlay {
        position: absolute;
        top: 10px;
        left: 0;
        opacity: 0;
        transition: ease all 0.2s;
    }
    .headerhistoria:hover .overlay {
        opacity: 1;
    }
    .fondointegrantes {
        background-size: cover;
    }
    .titulo3 {
        font-size: 50px;
        margin-top: 10%;
        margin-bottom: 0;
    }
    .columna1 {
        width: 44%;
        font-size: 20px;
    }
    .columna2 {
        width: 44%;
        font-size: 20px;
    }
    .fondodiscografia {
        background-size: cover;
    }
    .fondodiscografia .titulo2 {
        margin-top: 10%;
        font-size: 50px;
    }
    .flex {
        width: 100%;
        padding-bottom: 3000px;
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
    }
    .tapa {
        width: 370px;
        height: 370px;
    }
    .info .overlay {
        font-size: 20px;
    }
    table {
        padding: 0%;
        text-align: center;
        font-size: 15px;
    }
    table td {
        font-size: 15px;
        word-spacing: 1px;
    }
    .infotecnica ul {
        padding: 0%;
        font-size: 20px;
        text-align: center;
    }
    .fondosumusica {
        background-image: url(../img/retro.jpg);
        background-size: cover;
    }
    .fondosumusica .titulo2 {
        margin-top: 10%;
    }
    .totalsection {
        font-size: 20px;
        text-align: center;
    }
    .totalsection h2 {
        font-size: 25px;
    }
    .totalsection h3 {
        font-size: 20px;
    }
    video {
        width: 80%;
        height: 80%;
    }
    audio {
        width: 70%;
    }
    ol {
        font-size: 25px;
        padding: 0;
    }
}